<div class="ec-header">
    <nav class="ec-nav">
        <div class="ec-header-logo">
            <a href="#" class="logo">
                <img src="static/img/logo.png" alt="EcuPlay.com">
                <span>EcuPlay</span>
            </a>
            <button class="ec-btn btn-menu" id="btnMenu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="ec-menu" id="ec-menu">
            <ul class="ec-nav-menu">
                <li><a href="#">Precios</a></li>
                <li><a href="#">R. Recientes</a></li>
                <li><a href="#">Premios</a></li>
                <li><a href="#">+Puntuados</a></li>
                <li><a href="#">Otras Recargas</a></li>
            </ul>
            <div class="ec-nav-menu-right">
                <a href="#" class="ec-btn primary"><i class="fab fa-facebook-f mr-2"></i> Iniciar</a>
                <div>
                </div>
            </div>
        </div>
        <div class="ec-nav-overlay"></div>
    </nav>
</div>